- @day = ""
.container
	.well.span9{:style => 'position:relative;right:3%;margin-top:-21%;'}
		%br
		%br
		%br
		%br
		.span4#time{:style => 'color:#a3a3a3;'}
			= "RIGHT NOW: #{Time.now.strftime("%m/%d/%y")}"
		%div{:style => 'width: 100%; height: 1px; background: #dadada; overflow: hidden;'}
		%br

		- if @feed.length == 0
			%center
				= 'Nothing going on today..'
				= link_to 'Create an Event!', '/events/new'
			%br
		- for user_event in @feed
			- new_id = rand(1000000)
			.span7{:style => 'color:#a3a3a3;'}
				- if "#{user_event.last.start.strftime("%m/%d/%y")}" != @day
					- @day = "#{user_event.last.start.strftime("%m/%d/%y")}" 
					= @day 
					%div{:style => 'width: 100%; height: 1px; background: #dadada; overflow: hidden;'}	
				- else
					%div{:style => 'width: 100%; height: 1px; background: #dadada; overflow: hidden;'}		
			.div.span12.pull-left{:style => 'color:#ff6699;'}
				%br
				= "#{user_event.last.start.strftime("%l:%M%p")} - #{user_event.last.end.strftime("%l:%M%p")}"
			.well.span7{:style => "position:relative; left:5%;background-color:#fffff;border-color:#ffffff;"}
				.container{:style => 'position:relative; right:15%;'}
					.div.span4
						= link_to "#{user_event.first.first_name.capitalize} #{user_event.first.last_name.capitalize}", '#'
					%br
					.div{:style => 'width:60px;height:60px;position:relative;left:1.5%;'}
						%a{:href => "/user/#{user_event.first.id}/account/"}
							= image_tag("#{user_event.first.image}", :style => 'border-radius:100%;width:60px;height:60px;')
				.div.span4.ul.list-group{:class => 'event-more-info', :style => 'position:relative;margin-top:-10%;'}
					%a.li.list-group-item{:href => '#', :id => "event_#{new_id}_show"}
						= "#{user_event.last.name}"
					.well{:id => "event_#{new_id}"}
						%p
							= user_event.last.description
				.div.span0{:style => 'position:relative;margin-top:-10%;'}
					- if user_event.last.event_type == 'Food'
						= image_tag('/food.png', :size => '40x40')
					- elsif user_event.last.event_type == 'Drink'
						= image_tag('/drink.png', :size => '40x40')
					- else
						= image_tag('/other.png', :size => '40x40')				
				.div.span2
					%p
					- unless current_user.joined_events.include?(user_event.last)
						%a.btn.btn-default.btn-small{:href => "/events/#{user_event.last.id}" } join
