%body
	.container
		%center
			.span2{:style => 'position:relative;right:4%;'}
				%p{:style => "font-weight:bold;color:#dd6633;"}
					= current_user.first_name.capitalize
					= current_user.last_name.capitalize
					%br
					%a#edit_profile{:href => "/user/#{current_user.id}/account/edit"} edit profile
				.table
					.btn-group-vertical
						= link_to 'feed', '#', :id => 'show-feed', :class => 'btn btn-primary btn-small'
						%a{'href' => '#new-event', 'data-toggle' => 'modal', 'class' => 'btn btn-primary btn-small'}
							new event
						%a{'href' => '#all-invitations', 'data-toggle' => 'modal', 'class' => 'btn btn-primary btn-small'}
							invitations
						%a{'href' => '#friend-requests', 'data-toggle' => 'modal', 'class' => 'btn btn-primary btn-small'}
							friend requests
						%a{'href' => '#recent-events', 'data-toggle' => 'modal', 'class' => 'btn btn-primary btn-small'}
							recent events
						= link_to 'all events', 'events/show/all', :id => 'all_events', :class => 'btn btn-primary btn-small'
			%div.pull-left{:style => 'position:relative; right:6%;margin-top:10.9%;'}
				- if (pending_invites = current_user.invited_events.length) > 0
					= link_to "#{pending_invites}", "javascript:void(0);", :class => 'btn btn-primary btn-small', :style => 'background-color:#dadada;color:#ffffff;border-color:#ffffff;width:7px;height:18px;border-radius:30%;'
				-else
					= link_to "#{pending_invites}", "javascript:void(0);", :class => 'btn btn-primary btn-small', :style => 'background-color:#ffffff;color:#ffffff;border-color:#ffffff;width:7px;height:18px;border-radius:30%;'	
			%div.pull-left{:style => 'position:relative; right:9.05%;margin-top:13.5%;'}
				- if (pending_requests = current_user.requested_friends.length) > 0
					= link_to "#{pending_requests}", "javascript:void(0);", :class => 'btn btn-primary btn-small', :style => 'background-color:#dadada;color:#ffffff;border-color:#ffffff;width:7px;height:18px;border-radius:30%;'
				-else
					= link_to "#{pending_requests}", "javascript:void(0);", :class => 'btn btn-primary btn-small', :style => 'background-color:#ffffff;color:#ffffff;border-color:#ffffff;width:7px;height:18px;border-radius:30%;'		
		%div#feed
			= render 'dashboard/feed'
		#new-event{:class => 'modal hide fade'}
			= render 'events/new_event'
		#recent-events{:class => 'modal hide fade'}
			= render 'events/all_events'
		#all-invitations{:class => 'modal hide fade'}
			= render 'invitations/all_invitations'
		#friend-requests{:class => 'modal hide fade'}
			= render 'user/friend_requests'
	= render 'static/footer'	
