%body
  .container
    .well.span10{:style => 'position:relative;margin-top:-2%;'}
      %h1{:style => "font-family:eight_one; font-weight:normal; position:relative; left:38%; color:#ff6699;"} Edit #{resource_name.to_s.humanize}
      .container{:style => 'position:relative;left:36%;'}
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
          = devise_error_messages!
          %div{:style => "font-weight:bold"}
            = f.label :email
            = f.email_field :email, :autofocus => true
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          %div{:style => "font-weight:bold"}
            = f.label :new_password
            %i{:style => "font-weight:normal"} (leave blank if you don't want to change it)
            %br
            = f.password_field :password, :autocomplete => "off"
          %div{:style => "font-weight:bold"}
            = f.label :new_password_confirmation
            = f.password_field :password_confirmation
          %br
          %div{:style => "font-weight:bold"}
            = f.label :current_password
            = f.password_field :current_password
          %div{:style => 'position:relative;left:8%;'}
            = f.submit "Update", :class => 'btn btn-info'
      %center
        = link_to "Back", :back
        %br
        %br
        %br
        = 'Unhappy?'
        .br
        = link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete
= render '/static/footer'
