= stylesheet_link_tag 'bootstrap'
= javascript_include_tag 'application'
%body	
	.container
		%h2.title{:style => "font-weight:bold;color:#dd6633;"}
			%center
				.pull-left
					Create New Event 
	.container	
		%br			
		= simple_form_for(@event, html: { class: 'form-vertical' }) do |f|
			= f.error_notification
			= f.input :description, :placeholder => "Give your friends some more details and convince them to come", :wrapper_html => { :class => 'span6' }
			= f.input :name, :placeholder => current_user.first_name.capitalize + "'s event!"
			= f.input :location, :placeholder => "Where is it?"
			= f.input :event_type, :collection => ['Food','Drink','Other']
			= f.input :day, :collection => ['Today','Tomorrow']
			= f.input :start, :as => :hour
			= f.input :end, :as => :hour
			= f.button :submit, class: 'btn.btn-primary.btn-small'  
			%a.btn.btn-primary.btn-small{:href => "/"} Cancel

