%body
	.container
		.pull-left{:style => "position:relative; left:28.3%;"}
			%h1{:style => "font-family:eight_one; font-weight:normal; position:relative; left:36%;"} events

			.span5{:style => "position:relative; right:2%;"}
				= form_tag "/user/#{current_user.id}/search", :class => "search", :action => :search, :method => :post do
					= text_field_tag "search_param", nil, :class => "search-query span5", :placeholder => "Search Events"
				%a.pull-right{:href => '/events/new'} new

			%br
			.span5
				.tabbable
					%ul.nav.nav-tabs
						%li.active{:style => "font-size:20px;"}
							= link_to "all", "#all_events", "data-toggle" => "tab"
						%li{:style => "font-size:20px;"}
							= link_to "invited", "#invited_events", "data-toggle" => "tab"
						%li{:style => "font-size:20px;"}
							= link_to "joined", "#joined_events", "data-toggle" => "tab"
						%li{:style => "font-size:20px;"}
							= link_to "created", "#created_events", "data-toggle" => "tab"
					.tab-content
						.tab-pane.active{:id => "all_events"}
							- for event in @events
								.ul.list-group
									%a.li.list-group-item{:href => "/events/#{event.id}"}
										= event.name.capitalize
						.tab-pane{:id => "invited_events"}
							- for event in current_user.invited_events
								.ul.list-group
									%a.li.list-group-item{:href => "/events/#{event.id}"}
										= event.name.capitalize
						.tab-pane{:id => "joined_events"}
							- for event in current_user.joined_events
								.ul.list-group
									%a.li.list-group-item{:href => "/events/#{event.id}"}
										= event.name.capitalize
						.tab-pane{:id => "created_events"}
							- for event in current_user.my_events
								.ul.list-group
									%a.li.list-group-item{:href => "/events/#{event.id}"}
										= event.name.capitalize
	%br
	%br
