%html

	= stylesheet_link_tag 'static'
	= javascript_include_tag 'application'
	= csrf_meta_tags
	%head
		

	%body
	%br
	%br
	%br
		%h1.title rondé
		%br
		%br
		%br

	%table#buttons
		%th{:class => "button"}= link_to 'Sign In', new_user_session_path, :class => "button", :id => "sign_in_button"
		%th{:class => "button"}= link_to 'Sign Up', new_user_registration_path, :class => "button", :id => "sign_up_button"


	.container
		.navbar.navbar-fixed-bottom
			.nav-collapse{:style => "position:relative; left:40%;"}
				%ul.nav
					%li
						%a{:href => "/", :style => "color:#ff6633;"} Home
					%li
						%a{:href => "/static/about", :style => "color:#ff6633;"} About
					%li
						%a{:href => "/static/terms_of_use", :style => "color:#ff6633;"} Terms of Use
					%li
						%a{:href => "/static/contact", :style => "color:#ff6633;"} Contact


