%script{src: "jquery.min.js", type: "text/javascript"}
%script{src: "guiders.js", type: "text/javascript"}
%body
	.container
		%center
			.span2{:style => 'position:relative;right:4%;'}
				%p{:style => "font-weight:bold;color:#dd6633;"}
					= current_user.first_name
					= current_user.last_name
					%br
					%a#edit_profile{:href => "/user/#{current_user.id}/account/edit"} edit profile
				.table
					.btn-group-vertical
						= link_to 'feed', '#', :id => 'show-feed', :class => 'btn btn-primary btn-small'
						= link_to 'new event', '#', :id => 'new_event', :class => 'btn btn-primary btn-small'
						= link_to 'invitations', '#', :id => 'invitations', :class => 'btn btn-primary btn-small'
						= link_to 'friend requests', '#', :id => 'friend_requests', :class => 'btn btn-primary btn-small'
						= link_to 'recent events', '#', :id => 'recent_events', :class => 'btn btn-primary btn-small'
						= link_to 'all events', '#', :id => 'all_events', :class => 'btn btn-primary btn-small'
			%div.pull-left{:style => 'position:relative; right:6%;margin-top:10.9%; id: invitations_notification; onclick: guiders.next()'}
				= link_to "2", "#", :class => 'btn btn-primary btn-small', :style => 'background-color:#dadada;color:#ffffff;border-color:#ffffff;width:7px;height:18px;border-radius:30%;'
			%div.pull-left{:style => 'position:relative; right:9.05%;margin-top:13.5%;'}
				= link_to "1", "#", :class => 'btn btn-primary btn-small', :style => 'background-color:#dadada;color:#ffffff;border-color:#ffffff;width:7px;height:18px;border-radius:30%;'
		%div#feed
			= render 'feed'
	= render 'static/footer'

	/ %div{:id => "guider1", :class => 'guider', 'data-attachTo: test', :position => 12}
	/ 	%div{:class => 'guiders_content'}
	/ 		%h1{:class => 'guiders_title'}
	/ 			Test Test
	/ 		%p{:class => 'guiders_description'}
	/ 			Test Discription
	/ 		%div{:class => 'guiders_button_container'}
	/ 			%div
	/ 				Close
	/ 			%div
	/ 				Next
	/ 	%div{:class => 'guiders_arrow'}	

