= stylesheet_link_tag 'bootstrap'
= javascript_include_tag 'application'
= csrf_meta_tags
%body
  .container
    %table#search_results
      -if @possible_friends.empty?
        = flash[:search_result_msg]
        - :to => '/'
      -else
        %h1 Select friends to add
        %thead 
          %tr
            %th
            %th
        %tbody
          - @possible_friends.each do |friend|
            %tr
              %td= flash[friend.first_name + ' ' + friend.last_name]
              -if Friendship.already_sent_friend_request(@user, friend)
                %td= 'Pending'
              -elsif !Friendship.already_friends(@user, friend)
                %td= button_to '+', "/user/#{@user.id}/add_friend/#{friend.id}"
              -else
                %td= '✓'
