%body
  %table{:style => "width: 50%"}
    %tbody
      %tr
        %td
          .container
            %center{:style => 'position:relative;right:26.5%;'}
        %td
          .container{:style => "position:relative;right: 60%; font-family:arial; color:#707070;"}
            -if @possible_friends.empty? && @possible_events.empty?
              = flash[:search_result_msg]
            -else
              -if !@possible_friends.empty?
                %table#friends
                  %h1{:style => "font-family:eight_one; font-weight:normal; position:relative; color:#ff6699;"} Select friends to add
                  %thead
                    %tr
                      %th
                      %th
                  %tbody
                    - @possible_friends.each do |friend|
                      %tr
                        %td= friend.first_name + ' ' + friend.last_name
                        %td{:style => "width:25%"}
                        -if Friendship.already_sent_friend_request(@user, friend)
                          %td= 'Pending'
                        -elsif !Friendship.already_friends(@user, friend)
                          %td= button_to '+', "/user/#{@user.id}/add_friend/#{friend.id}", :class => 'btn btn-default btn-small'
                        -else
                          %td= 'Friends'
              -if !@possible_events.empty?
                %table#events
                  %h1{:style => "font-family:eight_one; font-weight:normal; position:relative; color:#ff6699;"} Select events to attend
                  %thead
                    %tr
                      %th
                  %tbody
                    .span5
                      - for event in @possible_events
                        .ul.list-group
                          %a.li.list-group-item{:href => "/events/#{event.id}"}
                            = event.name.capitalize
