- if current_user
	.container
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					%a.brand{:href => "/"} rondé
					%ul.nav.pull-right
						= form_tag "/user/#{current_user.id}/search_friend", :class => "navbar-search", :action => :search_friend, :method => :post do
							= text_field_tag "searched_friend", nil, :class => "search-query span6", :placeholder => "Search"
						%li
							%a{:href => "/"} home
						%li
							%a{:href => "/user/#{current_user.id}/friends"} friends
						%li.dropdown
							%a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"} settings
							%ul.dropdown-menu{"role" => "menu"}
								%li
									%a{'href' => '#account', 'data-toggle' => 'modal', 'class' => 'btn btn-primary btn-small'}
										account
									%a{:href => "/users/sign_out", :id => 'logout'} 
										sign out
	#account{:class => 'modal hide fade'}
		= render 'user/account'									
- else
	.container
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					%a.brand{:href => "/"} rondé
					%ul.nav.pull-right
						%li
							%a{:href => "/users/sign_up", :id => 'Sign Up'} sign up
						%li
							%a{:href => "/users/sign_in", :id => 'Sign In'} sign in	


